{:id 1
 :title "One-off migration script for the secrets and clj-llm .issues dirs"
 :status :inbox
 :type :chore
 :priority :p1
 :created "2026-09-01"
 :updated "2026-09-01"
 :tags #{}
 :blocked-by #{}
 :related #{}}
