{:id 3
 :title "rename command to refresh an issue's slug after a title change"
 :status :inbox
 :type :feature
 :priority :p3
 :created "2026-09-01"
 :updated "2026-09-01"
 :tags #{}
 :blocked-by #{}
 :related #{}}
